.btn {
    display: inline-flex;
    vertical-align: top;
    align-items: center;
    padding: 10px 11px 8px 15px;
    font-size: 16px;
    font-weight: 400;
    background-color: $gray-100;
    transition: 0.3s all ease;

    &-outline-black {
        border: 1px solid $black;

        &:hover {
            color: $white;
            background-color: $black;
        }
    }

    &--has-icon {
        svg {
            margin-left: 13px;
            transition: 0.3s transform ease;

            @include sm {
                margin-left: 28px;
            }
        }

        &:hover {
            svg {
                transform: translateX(3px);
            }
        }
    }
}