.quality-products {
    padding: 153px 0;
    overflow: hidden;

    @include sm {
        padding: 82px 0;
    }

    &__meta {
        width: 100%;
        max-width: 749px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        @include sm {
            max-width: 320px;
        }


        .section-title {
            font-weight: 400;
            font-size: 56px;
            line-height: 72px;
            margin-bottom: 50px;
            letter-spacing: -1px;

            @include sm {
                font-size: 30px;
                line-height: 40px;
                margin-bottom: 17px;
            }
        }

        p {
            color: #7A7777;
        }
    }

    &__swiper {
        .swiper {
            overflow: visible;

            .swiper-wrapper {
                transform: translateX(33.3%);
            }
        }

        .swiper-slide {
            width: 100%;
            max-width: 42%;
            padding: 100px 45px;

            @include md {
                padding: 50px 25px;
            }

            @include sm {
                padding: 30px 20px;
                max-width: 68%;
            }

            &.swiper-slide-active {
                .product-card__meta {

                    h3,
                    p {
                        opacity: 1;
                        transform: translateY(0px);
                    }
                }
            }
        }

        .cursor {
            width: 60px;
            height: 60px;
            position: fixed;
            background-color: $white;
            border-radius: 50%;
            mix-blend-mode: difference;
            opacity: 0;
            transition: 0.05s opacity ease;
            z-index: 3;
            transform: translate(-50%, -50%);
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0;
            line-height: 0;
            border: 1px solid $black;

            @media screen and (any-hover: none) {
                display: none !important;
            }

            svg {
                width: 25px;
            }
        }
    }

    .product-card {
        width: 100%;
        max-width: 434px;
        margin-left: auto;
        margin-right: auto;

        &__thumbnail {
            padding-top: 142%;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include object-fit(cover, center);
            }
        }

        &__meta {
            text-align: center;
            padding-top: 60px;

            @include sm {
                padding-top: 48px;
            }

            h3 {
                font-weight: 400;
                font-size: 36px;
                line-height: 60px;
                letter-spacing: -1px;
                color: $black;
                margin-bottom: 13px;

                @include sm {
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 40px;
                    margin-bottom: 18px;
                }
            }

            p {
                color: #7A7777;
                transition-delay: 0.3s !important;
            }

            h3,
            p {
                opacity: 0;
                transform: translateY(20px);
                transition: var(--animation-duration) all ease;
            }
        }
    }
}